{% load i18n %} 
{% block title %}{% trans "Levenshtein Example" %}{% endblock %}

{% block content %}
	<form action="." method="post">{% csrf_token %}
		<br>
		{{ form.as_p }}
		<br>
		<input type="submit" value="Submit"/>
	</form>

	{% for levenshtein in levenshtein_objects %}

	    <p>{% trans "Text 1" %}:&nbsp;
	    	<strong>{{ levenshtein.text_1 }}</strong>
	    	&nbsp;&nbsp;{% trans "Text 2" %}:&nbsp;
	    	<strong>{{ levenshtein.text_2 }}</strong>
	    	&nbsp;&nbsp;{% trans "Levenshtein Value" %}:&nbsp;
	    	<strong>{{ levenshtein.levenshtein_value }}</strong>
	    	&nbsp;&nbsp;{% trans "Levenshtein Ratio" %}:&nbsp;
	    	<strong>{{ levenshtein.levenshtein_ratio }}</strong>
	    </p>

	{% endfor %}

{% endblock %}

